@import "tailwindcss";

@theme {
  --color-primary: #26cff7;
  --color-primary-light: #d5f5fd;
  --color-primary-dark: #0ea5c6;
  --color-secondary: #0f172a;
  --color-primary-gray: #77787b;

  /* Background */
  --color-bg: #ffffff;
  --color-bg-light: #77787b1a;
  --color-bg-soft: #f8fafc;
  --color-bg-dark: #0b1120;
  --color-bg-primary-gray: #77787b;
  --color-bg-secondary: #D9D9D9;

  /* Text */
  --color-text: #111827;
  --color-text-muted: #6b7280;
  --color-text-light: #3b3f45;

  /* Borders */
  --color-border: #e5e7eb;
  --color-border-dark: #1f2937;
  --color-border-light: #77787b;

  /* Status */
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-info: #3b82f6;

  --breakpoint-3xl: 1920px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease forwards;
}

.animate-slideOut {
  animation: slideOut 0.3s ease forwards;
}

.section {
  @apply py-10 lg:py-20 min-h-[calc(100vh-80px)] xl:min-h-[50vh] flex flex-col items-center justify-center w-full overflow-hidden relative px-4;
}
